/* #272727 */

.align-all-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.img-container{
  height: 60px;
  background-color: #f2f2f2;
  padding-top: 24vh;
  margin-bottom: 19vh;

}
.circle-around {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 446px;
  height: 446px;
  border-radius: 50%;
}
.me-img {
  width: 422px;
  height: 422px;
  border-radius: 50%;
  align-self: center;
}

.me-information{
  flex-direction: column;
}

.me-name {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.less-attention-text {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  line-height: 1rem;
  font-weight: normal;
  color: inherit;
}

.more-attention-text {
  font-size: 2.5rem;
  line-height: 1rem;
  font-weight: 800;
  color: inherit;
}

.me-description{
  padding: 8px;
  width: 750px;
  font-size: 2vh;
  margin-top: 0;
  text-align: center;
  align-self: center;
}

.social-media-group {
  margin-bottom: 32px;
}
.react-me-text {
  align-self: flex-start;
}

.underline-button {
  color: #272727;
  align-self: center;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0 8px 0 8px;
  cursor: pointer;
}



.dev-writer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}



.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size: 1.6rem;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}



.button-border {
  border-width: 1px;
  font-size: 0.8rem;
  padding: 16px;
  border-color: #272727;
  align-self: flex-start;
  background-color: transparent;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 0;
}

.button-border:hover {
  background-color: #272727;
  color: #f2f2f2;
  transition: background-color 1s;
}



.we-build-digital-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 8px;
  justify-content: center;
  align-items: center;
}
.we-build-digital-text {
  display: flex;
  text-align: right;
  flex-direction: column;
}

.vl {
  display: flex;
  border-left: 2px solid #a1a1a1;
  height: 300px;
}

.hl {
  width: 50vw;
  margin-top: 60px;
}

.we-build-digital-size {
  font-size: 8vh;
}
.we-digital-description {
  font-size: 2vh;
  width: 400px;

}
.orange-bg-button {
  background-color: #ffa54d;
  color: #f2f2f2;
  border-width: 0;

}

.orange-bg-button:hover{
  background-color: #f79736;
}

.digital-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.see-portfolio-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.see-portfolio-message {
  font-size: 3vh;
  width: 400px;
  text-align: center;
}

.portfolio-grid {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.gallery-img {
  display: block;
  width: 100%;
  height: 480px;
  object-fit: cover;
}
.gallery-item {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  margin: 1px;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(247,	151,	54, 0.9);
  opacity: 0;
}

.overlay-text {
  text-align: center;
  color: white;
}

.overlay-p {
  text-align: center;
  color: white;
  font-size: 22px;
}

.gallery-item:hover .overlay {
  opacity: 1;
  transition: opacity 1s;
  cursor: pointer;
}



@media only screen and (max-width: 725px) {
  .me-name {
    flex-direction: column;
    align-items: center;
  }
  .img-container{
    padding-top: 8vh;
    margin-bottom: 5vh;
  }
  .circle-around {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  .me-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .me-description {
    width: 340px;
  }
  .me-developer-content {
    flex-direction: column;
    align-items: center;
  }
  .me-developer-img  {
    width: 300px; 
    height: 300px;
    margin-left: 0;
  }
  .first-img {
    margin-right: 0;
  }
  .we-build-digital-container  {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .vl {
    display: none;
  }
  .we-digital-description {
    width: 100%;
  }
  .digital-description-container {
    display: flex;
    flex: 1;
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .portfolio-grid {
    flex-direction: column;
  }
}